<!-- 
put this file in /Library/LaunchDaemons
chown to root:wheel
make sure python3 is installed in usr/local/bin
 -->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>spb.mblocator</string>
	<key>ProgramArguments</key>
	<array>
		<sting>/usr/local/bin/python3</sting>
		<string>/Users/project/folder/location/test.py</string> <!-- Change value you to your project folder location -->
	</array>
	<key>WatchPaths</key>
	<array>
		<string>/Library/Preferences/SystemConfiguration</string>
	</array>
</dict>
</plist>